
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sttyle.css">
    <title>Pokedéx</title>
</head>

<body>
    <nav>
        <div>
            <p id="Pokedéx">Pokedex</p>
        </div>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <% pokedex.forEach(function(card, index) {%>
                <div class="card">
                    <a href="/detalhes/<%= index %"><img src="<%= card.imagem %>" alt="imagens Pokemons"></a>
                    <h2><%= card.nome %></h2>
                    <h4><%= card.tipo %></h4>
                </div>
            <% }) %>
            </div>
        </main>


    <script src="/index.js"></script>



</body>
</html>