* {
    margin: 0;
    padding: 0;
    font-family: "Flexo-Medium",arial,sans-serif;
  }
  
  html,
  body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
  }

  body {
    background: linear-gradient(
      0deg,
      rgb(222, 231, 91) 0%,
      rgb(141, 139, 3) 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
  }

  nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  nav article {
    display: flex;
    align-items: center;
  }
  
  nav article img {
    width: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
    nav article h1 a {
    color: rgb(219, 62, 51);
    text-decoration: none;
    font-size: 1.2rem;
    }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(219, 62, 51);
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    color: rgb(81, 80, 95);
  }
  
  .container {
    box-sizing: border-box;
    clear: both;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4.9rem 3rem 3rem 3rem;
  }

  header h1 {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 0 0 1rem #160f0f60;
    text-align: center;
  }

  a.card {
    width: 20rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem #00000060;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }
  
  
  a.card:hover {
    transform: scale(1.1);
  }
  
  a.card img {
    width: 15rem;
    height: 15rem;
  }
  
  a.card h2 {
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: #000;
  }
  
  a.card h3 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #000;
  }

  section#pokedex {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  section#cadastrar {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0 20rem 0rem 20rem;
    box-shadow: 0 0 1rem #00000060;
    border-radius: 1rem;
    width: 50%;
  
  }
  
  section#cadastrar form {
    width: 100%;
    padding: 0.6rem 2rem 0.6rem 2rem;
  }
  
  section#cadastrar form div input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: 0.1rem solid #ccc;
  }
  
  section#cadastrar form div label {
    font-size: 1.2rem;
    color: rgb(236, 80, 32);
  }
  
  section#cadastrar form button {
    border: 1px solid rgb(255, 68, 68);
    background-color: #fff;
    color: rgb(236, 80, 32);
    padding: 0.6rem;
    font-size: 1.3vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 30%;
  }
  
  section#cadastrar form button:hover {
    background-color: rgb(179, 173, 173);
    color: #fff;
    transform: scale(1.1);
  }
  
  section#details {
    margin: -1.5rem 16rem 0rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0 1rem #00000060;
  }

  section#details img {
    width: 400px!important; 
    height: 400px!important;
  }
  
  section#details div#infos p {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }
  
  section#details div#infos div#info-datail {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 79%;
    border-radius: 1rem;
  }
  
  section#details div#infos div#info-datail h3 {
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem 0 1rem 0;
    color: #8a1826;
  }
  
  section#details div#infos h3 {
    padding-top: 1.2rem;
    font-size: 1.2rem;
  }

  section#details div#infos div#info-datail h4 {
    color: #eb3358;
    font-size: 1.2rem;
  }
  
  section#details div#infos p {
    padding-top: 0.4rem;
    font-size: 1.3rem;
  }

  section#details div#infos h5 {
    background-color: rgb(124, 177, 25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
    width: 40%;
    height: 2rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
    color:rgb(245, 248, 245);
  }

  section#details div#infos h5 p {
    margin-top: 40px;
  }

  section#message {
    padding: 0.5rem;
    background-color: rgb(197, 255, 214);
    color: #8a1826;
    position: fixed;
    top: 3rem;
    left: 70%;
    right: 0;
    z-index: 100;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }

  @media (min-width: 461px) and (max-width: 960px) {
    section#details, section#details img { 
      display: block;
      margin:  auto;
      overflow: hidden;
      width: 80%;
    }
  }

  @media (min-width: 461px) and (max-width: 960px) {
    section#cadastrar, section#cadastrar form div input, section#cadastrar form div label { 
      display: block;
      overflow: hidden;
      width: 79%;
      padding: 1%;
      margin: auto;
    
    }
  }

  @media (min-width: 461px) and (max-width: 960px) {
    section#cadastrar form button {
    font-size: 2.5vw;
    }
  }
